
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Forget-Password</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'Users/css/style.css' %}">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
    <body>
        <div class="back"></div>
        <div class="root col-md-9">
            <div class="text-wrap col-md-6">
                <h1>Forget Password</h1>
                <img src="{% static 'Users/images/undraw_mobile_login_ikmv.svg' %}" alt="">
                <p>© Copyright 2020, TEAM RACHNATMAK</p>
            </div>
        </div>
        <div class="form-holder col-md-9 row">
            <div class="col-md-6"></div>
            <div class="text-wrap col-md-6">
                <div class="form-wrap">
                    <div class="imageicon"><img src="{% static 'Users/images/Seal_of_Goa.png' %}" id="output"></div>
                    <div class="info">
                        
                        <form action="{% url 'forget-password' %}", method = "POST"  class="needs-validation" novalidate>
                            {% csrf_token %}
                            <!---- <div class="form-group">
                                <label for="email">Forget Password: </label><br>
                                <input id="form-control" type="email" name="email" > -->
                                <div class="form-group">
                                  {{ form.email }}
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            
                            <button type="submit" class="btn">Submit</button>
                            
                          </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
    
</html>
